.border-search-home {
  border: 1px solid;
  border-image-source: linear-gradient(97.48deg, #1d4289 22.65%, #00b74f 79.34%);
  border-radius: 100px;
  background: #fff;
  height: 44px;
  width: 634px;
}
.border-search {
  border: 1px solid;
  border-image-source: linear-gradient(97.48deg, #1d4289 22.65%, #00b74f 79.34%);
  border-radius: 100px;
  background: #fff;
  height: 44px;
  width: 414px;
  margin-right: 52px;
}
.shadow-back {
  box-shadow: 0px 5px 10px 0px #0000001a;
  border-radius: 8px;
  height: 44px;
}
