.ant-layout-sider {
  background: #ffffff;
  box-shadow: 5px 2px 10px rgba(#333333, 0.1);
}
.logo {
  padding: 15px 0;
  img {
    object-fit: cover;
    max-width: 80%;
    max-height: 80px;
    display: inline-block;
  }
}

.toggleLayout {
  background-color: #fff;
}

// Sidebar
.btn-toggle {
  height: 24px;
  width: 24px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 32px;
  border: 1px solid var(--Color-Border, #e2e8f0);
  z-index: 14;
}

.border-top-icon {
  border-top: 1px solid var(--Color-Border, #e2e8f0);
}
